/* Homepage CSS */

:root {
  --geel: #fcc10a;
  --rood: #ea5b3a;
  --blauw: #387BBF;
  --donkerblauw: #34383D;
  --wit: white;
  --grijs: #e8e8e8;
}


body {
  background-color: var(--donkerblauw);
  color: var(--wit);
  line-height: 1.6;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: var(--geel);
  height: 10vh;
  width: 100%;
  position: fixed;
  z-index: 1000;
  transform: translateY(0);
  transition: transform 0.4s ease-in-out;
  will-change: transform;
  top: 0;
  left: 0;
}

.header::after {
  content: '';
  position: fixed;
  top: 10vh;
  left: 0;
  width: 100%;
  height: 28px;
  background-image: url('../assets/geleHeader.svg');
  background-size: 1488.1907px 28px;

  z-index: 999;
}


.header.hide {
  transform: translateY(-100%);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 50px;
  position: relative;
}

.header-logo {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header-logo img {
  max-width: 250px;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.header-logo img:hover {
  transform: scale(1.1);
}

.nav-links {
  display: flex;
  gap: 60px;
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
}

.nav-links a {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  color: var(--donkerblauw);
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--donkerblauw);
  transform: scale(1.1);
}

.hamburger {
  display: none;
  font-size: 2em;
  cursor: pointer;
  color: var(--donkerblauw);
  user-select: none;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1001;
}

#hamburger-icon {
  transition: all 0.3s ease;
}


main{
  /* background-color: aqua; */
  margin-bottom: 30vh;
  max-width: 100vw;
  width: 100%;
  height: 100vh;
  position: relative;
  flex: 1;
}
.main-container {
  /* background-color: #de1010; */
  margin: 0 auto;
}

.firstView {
  /* background-color: chartreuse; */
  max-width: 1000px;
  width: 100%;
  height: 100vh;
  text-align: center;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 30px;
  bottom: -10px;
}

.firstView h1 {
  font-family: "Press Start 2P", system-ui;
  font-size: 4em;
  margin-bottom: auto;
  margin-top: 300px;
}

.firstView img {
  height: auto;
  width: 100vw;
}


.about-section{
  background-color: var(--wit);
}

.about{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--donkerblauw);
  padding: 30px 100px;
  gap: 100px; 
}

.a{order: 1;}
.b{order: 2;}
.c{order: 3;}
.d{order: 4;}

.about1{
  max-width: 600px;
  width: 100%;
  /* margin: 0 100px; */
}



.about-title {
  font-family: "Press Start 2P", system-ui;
  font-weight: 25;
  font-style: normal;
  font-size: 25px;
  margin-bottom: 20px;
} 

.about-content {
  font-family: "Cascadia Code", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 20PX;
  
}

.about img{
  max-width: 500px;
  width: 100%;
  height: auto;
}

.video-section{
  padding: 100px;
  margin: 0 auto;
}

.video-text{
    margin-bottom: 100px;
}

.video-text h2{
  padding: 30px 100px;
  color: var(--wit);
  text-align: center;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  margin-bottom: 20px;
}

.video-text p{
  max-width: 800px;
  margin: 0 auto;
  color: var(--wit);
  text-align: center;
  font-family: "cascadia code", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin-bottom: 20px;
}

.videoplayer img{
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.workshops{
  background-color: var(--wit);
  /* padding: 100px; */
  margin: 0 auto
}

.workshops-intro h2{
  padding: 30px 100px;
  color: var(--donkerblauw);
  text-align: center;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  margin-bottom: 20px;
  padding: 50px 100px;
}

.workshops-intro p{
  max-width: 700px;
  margin: 0 auto;
  color: var(--donkerblauw);
  text-align: center;
  font-family: "cascadia code", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin-bottom: 20px;
}
.workshop-cards {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  gap: 50px;
  padding: 10px;
}

.workshop-card {
  scroll-snap-align: center;
  flex: 0 0 auto;
}

.workshop-card {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0px 20px 20px;
  position: relative;
  width: 375px;
  min-width: 375px;
  height: 548px;
  margin: 0 auto;
  margin-bottom: 50px;
  /* align-items: center;
  justify-content: center; */
}

.red{
background-image: url('../assets/Group 103.png');
}

.blue{
background-image: url('../assets/Group 105.png');
}

.yellow{
background-image: url('../assets/Group 104.png');

}

.workshop-card h3{

  color: var(--donkerblauw);
  text-align: center;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  padding : 20px;
  width: 50%;
    margin: 0 auto;
}

.workshop-card p{
  color: var(--donkerblauw);
  font-family: "cascadia code", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 20px
  
}

.workshop-image {
  display: flex;
  justify-content: center;
  /* transform: scale(0.9); */
  margin-bottom: 30px;
  margin-left: 25px;
  
}

.team h2{
  padding: 30px 100px;
  text-align: center;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  margin-bottom: 20px;

}


.team p{
  color: var(--wit);
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  font-family: "cascadia code", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin-bottom: 20px;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 80%;
}

.team-card {
  flex: 0 1 calc(50% - 20px);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}



  
.team-card p {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  padding: 30px;


}

.team-card img{
  max-width: 200px;



}


.uitleg-code {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
}



@keyframes slideDownHeader {
  0% {
    opacity: 1;
    
  }
  100% {
    
    top: 200vh;
   display: none;
  }
  
}

@keyframes slideDownHamburger {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30vh;
  background-color: var(--grijs);
  color: var(--donkerblauw);
  padding: 20px 0 40px 0;
  z-index: 100;
  box-shadow: 0 -2px 16px rgba(0,0,0,0.07);
}

footer::before {
  content: '';
  display: block;
  position: absolute;
  top: -85.1608px;
  left: 0;
  width: 100%;
  height: 85.1608px;
  background-image: url('../assets/footerBytes.svg');
  background-size: 1488.1907px 85.1608px;
  background-position-x: center;
  z-index: 101;
}

footer {
  max-width: 100vw;
}

.footer-logo img {
  width: 200px;
  height: auto;
  margin-left: -10px;
}

.footer-flex-row {
  /* background-color: #ea5b3a; */
  max-width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 600px;
  padding: 0 50px;
}

.footer-locatie-box {
  font-family: "Cascadia Code", system-ui;
  color: var(--donkerblauw);
  font-size: 1em;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.footer-copyright-box {
  font-family: "Cascadia Code", system-ui;
  color: var(--donkerblauw);
  font-size: 0.8em;
  text-align: left;
  margin-top: 20px;
}

.footer-social-box {
  font-family: "Press Start 2P", system-ui;
  color: var(--donkerblauw);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  max-width: 300px;
}

.footer-social-text {
  margin: 20px 0 20px 0;
}

.footer-social-icons {
  fill: var(--donkerblauw);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: left;
  gap: 30px;
  max-width: 50px;
  height: auto;
}

.footer-social-icons img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}
















  
/* Workshop page CSS */
.workshop-header {
  background-color: var(--rood);
  height: 10vh;
  width: 100%;
  position: fixed;
  z-index: 1000;
  transform: translateY(0);
  transition: transform 0.4s ease-in-out;
  will-change: transform;
  top: 0;
  left: 0;
}

.workshop-header::after {
  content: '';
  position: fixed;
  top: 10vh;
  left: 0;
  width: 100%;
  height: 28px;
  background-image: url('../assets/rodeHeader.svg');
  background-size: 1488.1907px 28px;
  z-index: 999;
}
.workshop-header.hide {
  transform: translateY(-100%);
}

.workshop-nav-links {
  display: flex;
  gap: 60px;
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
}

.workshop-nav-links a {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  color: var(--donkerblauw);
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s ease;
}

.workshop-nav-links a:hover {
  color: var(--donkerblauw);
  transform: scale(1.1);
}

.workshop-firstView {
  /* background-color: chartreuse; */
  max-width: 1000px;
  width: 100%;
  height: 100vh;
  text-align: center;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  bottom: -10px;
}

.workshop-firstView-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.workshop-firstView-text h1 {
  font-family: "Press Start 2P", system-ui;
  font-size: 3em;
  margin-bottom: auto;
}

.workshop-firstView-text p {
  font-family: "Cascadia Code", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
  max-width: 70%;
  margin-top: 40px;
}

.workshop-firstView-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.workshop-firstView img {
  height: auto;
  width: 100vw;
}

.blok1 { background-color: var(--grijs); }
.blok2 { background-color: var(--geel); }
.blok3 { background-color: var(--blauw); }
.blok4 { background-color: var(--grijs); }

.blok1-schaduw { background-color: #cac9c9; }
.blok2-schaduw { background-color: #f7a62e; }
.blok3-schaduw { background-color: #1f4e9e; }
.blok4-schaduw { background-color: #cac9c9; }

.blok1, .blok2, .blok3, .blok4 {
  margin: 50px 0 50px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  width: auto;
  padding: 0 20px 0 0;
}

.blok1-schaduw, .blok2-schaduw, .blok3-schaduw, .blok4-schaduw {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 30px;
  height: 40px;
  margin-right: 20px;
}

.blok1-tekst, .blok2-tekst, .blok3-tekst, .blok4-tekst {
  font-family: "press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 0.7em;
  color: var(--donkerblauw);
  text-align: left;
  flex: 1 1 0%;
  min-width: 0;
  width: 100%;
  max-width: 100%;
}

.download img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: auto;
  margin-bottom: -120px;
}

/* Uitleg Workshop */
.workshop-content {
  background-color: var(--wit);
  padding: 200px 100px;
  margin-top: 3px;
}

.workshop-content-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.workshop-content-text {
  max-width: 50%;
}
.workshop-content-image img {
  width: 100%;
  height: auto;
  display: block;
}

.workshop-content h2 {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  color: var(--donkerblauw);
  margin-bottom: 20px;
}
.workshop-content p {
  font-family: "Cascadia Code", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
  color: var(--donkerblauw);
  margin-bottom: 30px;
}

.workshop-content-image {
  margin-top: 30px;
}

.workshop-content-image img {
  max-width: 100%;
  transform: scale(1);
  height: auto;
}

.workshop-content-stappen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.workshop-content-text2 {
  margin: 150px 0 40px 0;
  justify-content: center;
}
.workshop-content-flex img {
  width: 100%;
  height: auto;
  display: block;
}


.galerij h2 {
  text-align: center;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  color: var(--wit);
  margin-bottom: 20px;
}
.galerij p {
  text-align: center;
  font-family: "Cascadia Code", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
  color: var(--wit);
  margin-bottom: 30px;
}

.galerij-text {
  text-align: center;
  margin: 100px;
}


.marquee-wrapper {
      position: relative;
      overflow: hidden;
      width: 100%;
      padding: 20px 0;
    }

    .fade-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 30px;
      z-index: 2;
      pointer-events: none;
    }
    .fade-left {
      left: 0;
      background: linear-gradient(to right, var(--bg) 0%, transparent 100%);
    }

    .fade-right {
      right: 0;
      background: linear-gradient(to left, var(--bg) 0%, transparent 100%);
    }

    .marquee {
      display: flex;
      width: max-content;
      align-self: flex-end;
      animation-play-state: running;
    }
    
    .marquee:hover {
      animation-play-state: paused;
    }

    .marquee img {
      width: 30vw;
      height: auto;
      margin: 0 10px;
      object-fit: cover;
      border-radius: 5px;
      /* box-shadow: 0 0 6px rgba(0,0,0,0.5); */
      transition: transform 0.3s ease;
    }

    .marquee img:hover {
      transform: scale(1.1);
    }

    .scroll-left {
      animation: scroll-left 20s linear infinite;
    }

    @keyframes scroll-left {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-50%);
      }
    }

    .scroll-right {
      animation: scroll-right 20s linear infinite;
    }

    @keyframes scroll-right {
      0% {
        transform: translateX(-50%);
      }
      100% {
        transform: translateX(0%);
      }
    }




















@media (max-width: 600px) {
  .gallerij-item {
    flex: 0 0 140px;
    height: 140px;
  }
  .gallerij-item img {
    width: 110px;
    height: 110px;
  }
}

@media (max-width: 800px) {
  .workshop-content-flex {
    flex-direction: column;
    gap: 20px;
  }
  .workshop-content-image {
    max-width: 100%;
    flex: unset;
  }
}

/*  Mobile css  */
@media (max-width: 520px) {
  /* Homepage CSS */
  .header-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .header-logo img {
    max-width: 200px;
    margin-top: 10px;
  }

  .nav-links a {
    font-size: 1em;
  }

  .hamburger {
    display: block;
    margin-top: 0;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--geel);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; 
    width: 100vw;  
    padding-top: 120px; 
    gap: 40px; 
    z-index: 1000;
  }

  .nav-links.show {
    display: flex;
    animation: slideDownHamburger 0.4s ease forwards;
  }

  .header-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .header-content {
    justify-content: center;
    padding: 0 30px;
  }

  .firstView {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: -10px;
    text-align: center;
  }

  .firstView h1 {
    font-family: "Press Start 2P", system-ui;
    font-size: 2em;
    margin-bottom: auto;
  }

  /* .workshops{
  
  } */

  .workshops-intro{
    padding: 0 50px;
  }

  .workshop-card {
    width: 212px;
    min-width: 212px;
    height: 275px;
  }
/* 
  .workshop-card h3{
    font-size: 16px;
    padding : 0px;
    width: 50%;
    margin: 0 auto;
  }
 
  .workshop-card p{
    font-size: 12px;
    padding: 10px
  } 

  .workshop-image {
    max-width: 180px;
    
  }

  .workshop-image {
    display: flex;
    justify-content: center;
    transform: scale(0.9);
    margin-bottom: 30px;
    margin-left: 25px;
    
  } */


  .workshop-card{
    scale: 0.7 ;
    margin-right: -120px;
    
  }

  .team-card img{
    max-width: 120px;
  }
  
  .team p{
    padding: 20px 50px;

  }

  .video-section{
    padding: 50px 20px;
  }

  .video-text{
    padding: 0 10px;
  }

  .video-text p {
    padding: 0 50px;
  } 


  /* Footer CSS */
  footer {
    max-width: 100vw;
    height: auto;
    padding: 24px 0 100px 0;
  }

  .footer-flex-row {
    flex-direction: column;
    gap: 15px;
    max-width: 100vw;
    align-items: center;
  }

  .footer-logo img {
    width: 160px;
    margin-left: 0;
  }

  .footer-locatie-box {
    width: 100%;
    padding: 12px 0;
    font-size: 0.95em;
    border-radius: 12px;
    text-align: center;
  }

  .footer-copyright-box {
    margin-top: 20px;
    font-size: 0.7em;
    text-align: center;
  }

  .footer-social-box {
    width: 100%;
    gap: 10px;
    margin-top: 20px;
  }
  .footer-social-text {
    margin-bottom: 0;
    text-align: center;
  }
  .footer-social-icons {
    gap: 18px;
    justify-content: center;
    max-width: 100vw;
    text-align: center;
  }
  .footer-social-icons img {
    width: 32px;
    height: 32px;
  }





  /* workshop CSS */
  .workshop-header {
    background-color: var(--rood);
    height: 10vh;
    width: 100%;
    position: fixed;
    z-index: 1000;
    transform: translateY(0);
    transition: transform 0.4s ease-in-out;
    will-change: transform;
    top: 0;
    left: 0;
  }
  .workshop-header::after {
    content: '';
    position: fixed;
    top: 10vh;
    left: 0;
    width: 100%;
    height: 28px;
    background-image: url('../assets/rodeHeader.svg');
    background-size: 1488.1907px 28px;
    z-index: 999;
  }
  .workshop-header.hide {
    transform: translateY(-100%);
  }

  .workshop-nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--rood);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; 
    width: 100vw;  
    padding-top: 120px; 
    gap: 40px; 
    z-index: 1000;
  }
  .workshop-nav-links.show {
    display: flex;
    animation: slideDownHamburger 0.4s ease forwards;
  }
  .workshop-nav-links a {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    color: var(--donkerblauw);
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s ease;
  }
  .workshop-nav-links a:hover {
    color: var(--donkerblauw);
    transform: scale(1.1);
  }

  .workshop-firstView {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: -10px;
    text-align: center;
  }

  .workshop-firstView-text h1 {
    font-family: "Press Start 2P", system-ui;
    font-size: 2em;
    margin-bottom: auto;
    max-width: 80%;
  }
  .workshop-firstView-text p {
    font-family: "Cascadia Code", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8em;
    max-width: 70%;
    margin-top: 40px;
  }

  .workshop-firstView img {
    height: auto;
    width: 100vw;
  }

  /* Info Blokken */
  .blok1, .blok2, .blok3, .blok4 {
    flex-direction: row;
    align-items: center;
  }
  .blok1-schaduw, .blok2-schaduw, .blok3-schaduw, .blok4-schaduw {
    width: 70%;
    height: 40px;
    margin-right: 0;
  }
  .blok1-tekst, .blok2-tekst, .blok3-tekst, .blok4-tekst {
    font-size: 0.7em;
    text-align: center;
  }
  .download img {
    width: 80%;
    height: auto;
    margin-bottom: -100px;
  }
}

html {
  scroll-behavior: smooth;
}
