body {
  background-color: #34383D;
  color: #FFFFFF;
  line-height: 1.6;
  overflow-x: hidden;
}

.sticky-header {
  background-image: url('../assets/header2.svg');
  background-size: cover;
  background-position: center;
  height: 25vh;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

.header-content {
  display: flex;
  justify-content: space-between;
  padding: 18px 50px;
  height: 100%;
  box-sizing: border-box;
}
.header-logo img {
  max-width: 250px;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); */
}

.header-logo img:hover {
  transform: scale(1.1);
}

.nav-links {
  display: flex;
  gap: 30px;
  margin-top: 32px;
  
}

.nav-links a {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  color: #34383D;
  text-decoration: none;
  font-size: 1.1em;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #eb5b3a;
}


.uitleg-code {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  height: 1000px;
}

.slide-image{
  position: absolute;
  top: 80px;
  width: 230%;
  
  animation: slideDown 1.2s ease-in-out forwards;
  z-index: 1001;
}

@keyframes slideDown {
  0% {
    opacity: 1;
    
  }
  100% {
    
    top: 200vh;
   display: none;
  }
  
}




@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
    gap: 15px;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
  }

  .nav-links a {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .sticky-header {
    height: auto;
    padding-bottom: 10px;
  }

  .header-content {
    padding: 15px 20px;
  }

  .nav-links a {
    font-size: 1em;
  }
}
